* {
  margin: 0;
  padding: 0;
}
.header {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  /* background-color:#45D4FF; */
  color: #fff;
}
.header__left {
  margin-left: 6rem;
  margin-top: -7rem;
  padding-left: 0.5rem;
}

.header h5 {
  margin-left: 2rem;
  padding-top: 15px;
  /* border: 2px solid red; */
}
.header__right {
  display: flex;
  justify-content: space-around;
  flex: 0.4;
  text-align: center;
  margin-top: 1rem;
  /* border: 1px solid red; */
  margin-right: 5rem;
}
.header h3 {
  padding-top: 10px;
}
.header__btn {
  background-color: #fff;
  padding-left: 3px;
  padding-right: 3px;
  height: 3rem;
  border-radius: 2rem;
  width: 7rem;
  font-weight: 700;
  margin-left: 20px;
}
